{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'post/css/bootstrap.css' %}">
        <title>ADF Practical 3 - User_List </title>
    </head>
<body>
    <div class="container d-flex flex-row-reverse">
        <a  href="{% url 'postcreate' %}"><button type="button" class="btn btn-primary" style="margin-top: 20px;">create post</button></a>
    </div>
    <div class="container">
        {% for p in post %}	
        
        <div class="row justify-content-center">
            <div class="col-xs-6">
                <div class="card" style="width: 18rem;margin-top: 20px;">
                    <h5 class="card-title fs-1">User : {{p.Post_owner}}<br>
                        Title: {{ p.Post_title }}</h5>
                    <div class="card-body">
                    <img src="{{ p.Post_Image.url }}" class="card-img-top" >
                    <p class="card-text">Caption: {{ p.Post_Content }}</p>
                    <br>
                   <a href="{% url 'showcomment' p.id %}">
                        <button type="submit" class="btn btn-primary">show comment</button>
                   </a>
                    
                    <form method="POST" action="{% url 'postcomment' p.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">add comment</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
        
                    <a  href="{% url 'postupdatelike' p.id %}">
                    <button type="button" name="Like" class="btn btn-primary">
                        Like <span class="badge badge-light">{{p.Post_like}}</span>
                    </button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>